USE [MosaiqAdmin]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextFreeSlots]    Script Date: 9/8/2026 3:32:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetNextFreeSlots]
    @Staff_Staff_ID INT,
    @SlotMinutes    INT = NULL,
    @NumSlots       INT = 3
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now DATETIME2(0) = CAST(GETDATE() AS DATETIME2(0));

    --------------------------------------------------------------------
    -- 1) This provider's FREE_SLOT windows, future only, optionally
    --    filtered to a minimum duration
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#FreeIntervals') IS NOT NULL DROP TABLE #FreeIntervals;
    SELECT *
    INTO #FreeIntervals
    FROM dbo.ProviderEffectiveSchedule
    WHERE Staff_Staff_ID = @Staff_Staff_ID
      AND Block_Type = 'FREE_SLOT'
      AND StartDatetime >= @Now
      AND (@SlotMinutes IS NULL OR DATEDIFF(MINUTE, StartDatetime, EndDatetime) >= @SlotMinutes);

    --------------------------------------------------------------------
    -- 2) This provider's real booked appointments
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#Busy') IS NOT NULL DROP TABLE #Busy;
    SELECT vsn.StartDatetime, vsn.EndDatetime
    INTO #Busy
    FROM dbo.vw_ScheduleNormalized vsn
    JOIN dbo.visit_providers_in_buckets vpb ON vpb.prov_name_MQ = vsn.Provider
    WHERE vpb.prov_key_MQ = @Staff_Staff_ID;

    --------------------------------------------------------------------
    -- 3) Booked count per whole window (not sliced)
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#FreeIntervalBookedCount') IS NOT NULL DROP TABLE #FreeIntervalBookedCount;
    SELECT
        f.TemplatePK, f.Activity, f.StartDatetime, f.EndDatetime, f.TemplRule, f.RuleLimit,
        BookedCount = (
            SELECT COUNT(*)
            FROM #Busy b
            WHERE b.StartDatetime < f.EndDatetime
              AND b.EndDatetime   > f.StartDatetime
        )
    INTO #FreeIntervalBookedCount
    FROM #FreeIntervals f;

    --------------------------------------------------------------------
    -- 4) Eligible = under the configured Max Appointments limit (or
    --    no cap applies / RuleLimit unconfigured -- see header note)
    --    relaxed the max app limit when templRule <>2, as, for example
    --    maximum conflicts also can carry a limit.
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#Eligible') IS NOT NULL DROP TABLE #Eligible;
    SELECT
        TemplatePK, Activity, StartDatetime, EndDatetime, RuleLimit, BookedCount,
        OpenCapacity = CASE WHEN TemplRule = 2 AND ISNULL(RuleLimit, 0) > 0
                             THEN RuleLimit - BookedCount
                             ELSE NULL END  -- NULL = uncapped, not "zero room"
    INTO #Eligible
    FROM #FreeIntervalBookedCount
    WHERE  -- TemplRule <> 2  OR -- DROPPED THIS -- og:not a Max Appointments rule -> no cap
       RuleLimit IS NULL OR RuleLimit = 0    -- unset -> treat as unlimited
       OR BookedCount < RuleLimit;              -- still under the configured cap

    --------------------------------------------------------------------
    -- 5) Return the next N windows, earliest first
    --------------------------------------------------------------------
    SELECT TOP (@NumSlots)
        SlotStart = StartDatetime,
        SlotEnd   = EndDatetime,
        Activity,
        OpenCapacity
    FROM #Eligible
    ORDER BY StartDatetime ASC;

END
